/*:root {
    --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Raleway", sans-serif;
    --nav-font: "Poppins", sans-serif;
    --background-color: #ffffff;
    --default-color: #444444;
    --heading-color: #124265;
    --accent-color: #2487ce;
    --surface-color: #ffffff;
    --contrast-color: #ffffff;
    --nav-color: #124265;
    --nav-hover-color: #2487ce;
    --nav-mobile-background-color: #ffffff;
    --nav-dropdown-background-color: #ffffff;
    --nav-dropdown-color: #124265;
    --nav-dropdown-hover-color: #2487ce;
    scroll-behavior: smooth;
}*/

body {
    color:rgb(26, 28, 28);
    background-color: #add8e6;
    font-family:'Roboto' ;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #87ceeb;
    color:rgb(21, 22, 23);
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #87ceeb 3px solid;
}

/*header a {
    color: var(--contrast-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

#showcase {
    min-height: 400px;
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    text-align: center;
    color: var(--contrast-color);
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

footer {
    background: var(--heading-color);
    color: var(--contrast-color);
    text-align: center;
    padding: 30px;
    margin-top: 30px;
}*/

/* Card hover effect */
/*
.form-card {
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.2);
}

@media (min-width: 640px) {
    .form-card:hover {
        transform: scale(1.05);
    }
}*/

/* Support team */
/*
.team .team-member {
    background-color: var(--surface-color);
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.team .team-member .member-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
}

.team .team-member .social {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.team .team-member .social a {
    color: var(--heading-color);
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s;
}

.team .team-member .social a:hover {
    color: var(--accent-color);
}*/